{% extends "base.html" %}

{% block content %}

<h2>Users</h2>

<table class="table table-hover table-bordered align-middle">

    <thead class="table-dark">
        <tr>
            <th>Photo</th>
            <th>Username</th>
            <th>Email</th>
            <th>Description</th>
            <th>Details</th>
        </tr>
    </thead>

    <tbody>

    {% for user in users %}

        <tr>

            <td>

                {% if user.picture %}
                    <img
                        src="{{ user.picture }}"
                        width="60"
                        height="60"
                        class="rounded-circle">
                {% else %}
                    No image
                {% endif %}

            </td>

            <td>{{ user.username }}</td>

            <td>{{ user.email }}</td>

            <td>
                {{ user.description or "No description" }}
            </td>

            <td>

                <a href="/users/{{ user.id }}"
                   class="btn btn-primary btn-sm">

                    Detail

                </a>

            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}