{% extends "base.html" %}

{% block content %}

<h2>Stock Cars</h2>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Model</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

    {% for car in cars %}

        <tr>
            <td>{{ car.id }}</td>
            <td>{{ car.brand }}</td>
            <td>{{ car.model }}</td>

            <td>
                <a href="/stock-cars/{{ car.id }}"
                   class="btn btn-primary">
                    Detail
                </a>
            </td>
        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}