{% extends "base.html" %}

{% block content %}

<h2>Stock Cars</h2>

<table class="table table-bordered table-hover">

    <thead class="table-dark">

        <tr>
            <th>Photo</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Production</th>
            <th>Actions</th>
        </tr>

    </thead>

    <tbody>

    {% for car in cars %}

        <tr>

            <td>

                {% if car.picture %}
                    <img
                        src="{{ car.picture }}"
                        width="80"
                        height="60">
                {% else %}
                    No image
                {% endif %}

            </td>

            <td>{{ car.brand }}</td>

            <td>{{ car.model }}</td>

            <td>

                {{ car.production_start }}

                {% if car.production_end %}
                    - {{ car.production_end }}
                {% else %}
                    - Present
                {% endif %}

            </td>

            <td>

                <a
                    href="/stock-cars/{{ car.id }}"
                    class="btn btn-primary btn-sm">

                    Detail

                </a>

            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}