{% extends "base.html" %}

{% block content %}

<h1>Dashboard</h1>

<div class="row">

    <div class="col-md-6">

        <div class="card mb-3">
            <div class="card-header">
                Top Cars
            </div>

            <div class="card-body">
                <pre>{{ top_cars }}</pre>
            </div>
        </div>

    </div>

    <div class="col-md-6">

        <div class="card mb-3">
            <div class="card-header">
                Top Mods
            </div>

            <div class="card-body">
                <pre>{{ top_mods }}</pre>
            </div>
        </div>

    </div>

</div>

<div class="card mb-3">

    <div class="card-header">
        Most Expensive Builds
    </div>

    <div class="card-body">
        <pre>{{ expensive_builds }}</pre>
    </div>

</div>

<div class="card">

    <div class="card-header">
        Build Approach Statistics
    </div>

    <div class="card-body">
        <pre>{{ build_stats }}</pre>
    </div>

</div>

{% endblock %}