{% extends "base.html" %}

{% block content %}

<h2>Users</h2>

<table class="table table-striped">

    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Photo</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

    {% for user in users %}

        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>

                {% if user.picture %}
             <img
               src="{{ user.picture }}"
               width="60"
               class="rounded">
                {% endif %}

</td>
            <td>
                <a href="/users/{{ user.id }}"
                   class="btn btn-sm btn-primary">
                   Detail
                </a>
            </td>
        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}