{% extends "base.html" %}

{% block content %}

<h2>Builds</h2>

<table class="table">

    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Approach</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

    {% for build in builds %}

        <tr>
            <td>{{ build.id }}</td>
            <td>{{ build.name }}</td>
            <td>{{ build.build_approach }}</td>

            <td>
                <a href="/builds/{{ build.id }}"
                   class="btn btn-primary">
                   Detail
                </a>
            </td>
        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}